* {
  margin: 0;
  font-family: sans-serif;
}

.menuLateral {
  background-color: black;
  width: 250px;
  height: 100%;
  position: fixed;
  left: -250px; /* faz sumir abaixo disso */
  transition: left 0.5s;
}

.menuLateral .titulo {
  color: white;
  text-align: center;
  font-weight: bold;
  line-height: 45px;
  font-size: 24px;
  border-bottom: 2px solid red;
}

.menuLateral ul {
  list-style: none;
}

.menuLateral ul li {
  line-height: 40px;
  border-bottom: 1px solid white;
}

.menuLateral ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding-left: 30px;
  font-weight: bold;
  display: block;
}

.menuLateral ul li a:hover {
  background-color: #370707;
  transition: 0.5s;
}

.menuLateral ul ul li a {
  font-size: 16px;
  font-weight: 300;
  padding-left: 60px;
  background-color: #131313;
}

.menuLateral ul ul {
  display: none;
}

.menuLateral ul .itensNordeste.mostra {
  display: block;
}

.menuLateral ul .itensSudeste.mostra {
  display: block;
}

.btnAbre {
  position: absolute;
  top: 15px;
  left: 20px;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.btnAbre span {
  font-size: 35px;
}

.menuLateral.mostra {
  left: 0;
}

.btnFecha {
  position: relative;
  left: 20px;  
  top: 3px;
  border: 1px solid white;
  border-radius: 3px;
  cursor: pointer;
}

.btnFecha:hover {
  border: 1px solid red;
}

.menuLateral ul li a span {
  font-size: 30px;
  position: absolute;
  right: 30px;
  transition: 0.4s;
}

.menuLateral ul li a span.gira {
  transform: rotate(90deg);
}





.navigation {
  background-color: transparent;
  position: center;
  right: 10px;
  width: 100%;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.brand-name {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  margin-left: 1rem;
}

.navigation-menu {
  margin-left: auto;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}

.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}

.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #f54949;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  display: none;
}

.hamburger:hover {
  background-color: #af5d26;
}

@media screen and (max-width: 985px) {
  .hamburger {
    display: inline-flex;
  }

  .navigation-menu ul {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: rgb(219, 97, 97);
    border-top: 1px solid black;

    right: 50px;
  }

  .navigation-menu li {
    text-align: center;
    margin: 0;
  }

  .navigation-menu li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }

  .navigation-menu li:hover {
    background-color: #eee;
  }

  .navigation-menu.expanded ul {
    display: block;
  }
}