/* .Navbar {
    color: rgb(250, 248, 245) !important;
    font-size: 30px;
}

.NavbarToggler {
    color: rgb(250, 248, 245) !important;
    font-size: 30px;
}

.NavbarBrand {
    color: rgb(250, 248, 245) !important;
    font-size: 30px;
}

.Nav {
    color: rgb(250, 248, 245) !important;
    font-size: 30px;
}

.Navtext {
    color: rgb(250, 248, 245) !important;
    font-size: 30px;
} */